body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
input {
  margin: 0;
  padding: 0;
}
.dark {
  background: #35424a;
  color: #ffffff;
  padding: 15px;
  margin: 10px 0px;
}
.button_1 {
  height: 32px;
  padding: 0px 20px;
  background-color: #e8491d;
  border: 0;
  color: #ffffff;
}
header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}
header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
header #branding {
  float: left;
}
header nav {
  float: right;
  margin-top: 15px;
}
header .highLight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}
header li {
  display: inline;
  float: left;
  list-style: none;
  padding: 0 20px 0 20px;
}
header li :hover {
  font-weight: bold;
  color: #cccccc;
}
#showcase {
  min-height: 400px;
  background: url('../image/showcase.jpg') no-repeat 0 0;
  background-size: cover;
  color: #ffffff;
  text-align: center;
}
#showcase h1 {
  font-size: 55px;
  margin-top: 100px;
  margin-bottom: 10px;
}
#showcase p {
  font-size: 20px;
}
#newsletter {
  background: #35424a;
  color: #ffffff;
}
#newsletter h1 {
  float: left;
}
#newsletter form {
  float: right;
  margin-top: 19px;
}
#newsletter input {
  width: 250px;
  height: 30px;
}
#boxes {
  margin-top: 15px;
}
#boxes .box {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}
#boxes .box img {
  width: 90px;
}
article#main-col {
  float: left;
  width: 65%;
}
aside#sidebar {
  float: right;
  width: 30%;
}
#services li {
  list-style: none;
  padding: 10px;
  border: #cccccc 1px solid;
  margin-bottom: 5px;
  background: #e6e6e6;
}
#quote input,
#quote textarea {
  width: 90%;
  padding: 5px;
}
footer {
  padding: 10px;
  margin-top: 15px;
  text-align: center;
  color: #ffffff;
  background-color: #e8491d;
}
@media screen and (max-width: 600px) {
  #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  aside#sidebar,
  article#main-col {
    float: none;
    text-align: center;
    width: 100%;
  }
  header {
    padding: 20px;
  }
  #showcase h1 {
    margin-top: 40px;
  }
  #newsletter form input[type="email"],
  #newsletter form .button_1,
  #quote input,
  #quote textarea,
  #quote .button_1 {
    width: 100%;
    margin-top: 3px;
  }
}
